/* for Ipad screen */

/* HEADER */
@media screen and (max-width: 768px) {
    header nav {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding: 0;
    }
    header .main {
        flex-basis: 100%;
        width: 100%;
        padding: 7px 0;
    }
    header .goods {
        flex-basis: 100%;
        width: 100%;
        padding: 7px 0;
    }
    header .about_us {
        flex-basis: 100%;
        width: 100%;
        padding: 7px 0;
    }
    header .contacts {
        flex-basis: 100%;
        width: 100%;
        padding: 7px 0;
    }
    header nav a:hover {
        padding: 7px 0;
        border: 0;
    }
    nav a {
        font-size: 30px;
    }

/* MAIN */
/* left side */
.content { flex-wrap: wrap; }
.left-side {
    flex-basis: 100%;
    width: 100%;
    padding-right: 0px;
    text-align: center;
}
.menu a {
    font-size: 25px;
    }
.menu a:hover {
    color: #000;
    padding-left: 0px;
    text-decoration: underline;
}
/* right side */
.right-side {
    flex-basis: 100%;
    width: 100px;
    padding-top: 40px;
    margin-left: 0px;
}
.right-side p {
    font-size: 25px;
}

/* FOOTER */
    footer nav {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding: 0;
    }
    footer .main {
        flex-basis: 100%;
        width: 100%;
        padding: 7px 0;
    }
    footer .goods {
        flex-basis: 100%;
        width: 100%;
        padding: 7px 0;
    }
    footer .about_us {
        flex-basis: 100%;
        width: 100%;
        padding: 7px 0;
    }
    footer .contacts {
        flex-basis: 100%;
        width: 100%;
        padding: 7px 0;
    }
    footer a:hover {
    text-decoration: none;
    padding: 7px 0;
    background: #C6C6C6;
    border: 1px solid #838383;
    }
    footer p {
        flex-basis: 100%;
        width: 100%;
        font-size: 20px;
        padding-top: 15px;
        padding-right: 0px;
        padding-bottom: 7px;
    }
}

/* for phone screen */

/* HEADER */
@media screen and (max-width: 480px) {
    header nav {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding: 0;
    }
    header .main {
        flex-basis: 100%;
        width: 100%;
        padding: 7px 0;
    }
    header .goods {
        flex-basis: 100%;
        width: 100%;
        padding: 7px 0;
    }
    header .about_us {
        flex-basis: 100%;
        width: 100%;
        padding: 7px 0;
    }
    header .contacts {
        flex-basis: 100%;
        width: 100%;
        padding: 7px 0;
    }
    header nav a:hover {
        padding: 7px 0;
        border: 0;
    }
    nav a {
        font-size: 30px;
    }


/* MAIN */
/* left side */
.content { flex-wrap: wrap; }
.left-side {
    flex-basis: 100%;
    width: 100%;
    padding-right: 0px;
    text-align: center;
}
.menu a {
    font-size: 25px;
    }
.menu a:hover {
    color: #000;
    padding-left: 0px;
    text-decoration: underline;
}
/* right side */
.right-side {
    flex-basis: 100%;
    width: 100px;
    padding-top: 40px;
    margin-left: 0px;
}
.right-side p {
    font-size: 25px;
}

/* FOOTER */
    footer nav {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding: 0;
    }
    footer .main {
        flex-basis: 100%;
        width: 100%;
        padding: 7px 0;
    }
    footer .goods {
        flex-basis: 100%;
        width: 100%;
        padding: 7px 0;
    }
    footer .about_us {
        flex-basis: 100%;
        width: 100%;
        padding: 7px 0;
    }
    footer .contacts {
        flex-basis: 100%;
        width: 100%;
        padding: 7px 0;
    }
    footer a:hover {
    text-decoration: none;
    padding: 7px 0;
    background: #C6C6C6;
    border: 1px solid #838383;
    }
    footer p {
        flex-basis: 100%;
        width: 100%;
        font-size: 20px;
        padding-top: 15px;
        padding-right: 0px;
        padding-bottom: 7px;
    }
}